.top {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 100vw;
  background: #df7700;
}
.icon {
  display: flex;
  flex-direction: row;
}
.popup-context {
  display: flex;
  flex-direction: column;
  background: #fff4f2;
  width: 80vw;
  height: 29.06666667vw;
  box-sizing: border-box;
}
.van-checkbox__icon .van-icon {
  width: 3.73333333vw !important;
  height: 3.73333333vw !important;
  border: 0.26666667vw solid #ccc !important;
}
.van-checkbox__label {
  display: inline-block;
  vertical-align: middle;
  line-height: 4.53333333vw !important;
}
.context {
  width: 89.33333333vw;
  height: 88.26666667vw;
  background: #ffffff;
  border-radius: 1.6vw 1.6vw 1.6vw 1.6vw;
  opacity: 1;
  margin: auto;
}
.img {
  width: 73.6vw;
  height: 8vw;
  border: 0.13333333vw dashed #ccc;
  margin: auto;
  margin-top: 6.13333333vw;
}
.text {
  width: 81.33333333vw;
  height: 64.8vw;
  font-size: 3.73333333vw;
  font-family: Source Han Sans CN-Medium, Source Han Sans CN;
  font-weight: 500;
  color: #020000;
  line-height: 7.2vw;
  margin: auto;
  margin-top: 3.2vw;
}
.bottom {
  display: flex;
  margin: auto;
  flex-direction: row;
  width: 89.33333333vw;
  height: 16.53333333vw;
  background: #ffffff;
  border-radius: 1.6vw 1.6vw 1.6vw 1.6vw;
  opacity: 1;
  margin-top: 3.2vw;
  margin-bottom: 10.93333333vw;
}
.bottom-texts {
  font-size: 4.8vw;
  font-family: Source Han Sans CN-Medium, Source Han Sans CN;
  font-weight: 500;
  color: #020000;
}
.manager {
  width: 24.8vw;
  height: 6.93333333vw;
  text-align: center;
  line-height: 6.93333333vw;
  background-image: url("images/manager.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 4.8vw 4vw 0 7.33333333vw;
  font-size: 3.46666667vw;
  font-family: Source Han Sans CN-Medium, Source Han Sans CN;
  font-weight: 500;
  color: #020000;
  cursor: pointer;
}
.image {
  width: 100vw;
  height: 116vw;
}
.popup {
  width: 86.93333333vw;
  height: 80vw;
  border-radius: 1.06666667vw 1.06666667vw 1.06666667vw 1.06666667vw;
}
.van-button {
  font-size: 3.2vw;
}
.moild {
  margin: 2.26666667vw 0 0 3.86666667vw;
  box-sizing: border-box;
}
.shade {
  margin-top: -15.46666667vw;
}
.shadeimg {
  width: 100vw;
  height: 17.6vw;
}
.title {
  width: 73.6vw;
  height: 8vw;
}
.hint {
  font-size: 3.73333333vw;
  font-weight: 500;
  text-align: center;
  line-height: 7.86666667vw;
}
.hint-bottom {
  font-size: 3.73333333vw;
  font-weight: 500;
  margin: 6.66666667vw 0 4vw 0;
  display: inline-block;
}
.checkbox {
  margin-top: 4vw;
  font-size: 3.2vw;
  font-weight: 400;
}
.popup-text {
  padding: 4vw;
}
.info {
  color: #3eaeff;
  font-size: 7.33333333vw;
  margin-top: 1.6vw;
}
.bottom-text {
  font-size: 3.2vw;
  font-weight: 500;
  margin-top: 1.33333333vw;
}
.confirm {
  margin: auto;
  text-align: center;
  width: 18.66666667vw;
  margin-top: 4vw;
}
.bottom-word {
  font-size: 3.73333333vw;
  font-family: Source Han Sans CN-Regular, Source Han Sans CN;
  font-weight: 400;
  color: #666666;
}
.word {
  font-size: 4.8vw;
  font-family: Source Han Sans CN-Medium, Source Han Sans CN;
  font-weight: 500;
  color: #df7700;
}
.van-button--large {
  width: 19vw;
  height: 8vw;
  line-height: 6.4px;
}
