* {
  cursor: url("https://ylawenimg.netlify.app/cursor/akua.ico"), auto;
}

.about-Platform {
  table {
    width: 100%;
    tr {
      th {
        &:nth-child(1) {
          width: 30%;
        }
      }
    }
  }
}

.about-avatar {
  margin-top: 50px;
  img {
    max-width: 40% !important;
    border-radius: 50%;
  }
}

.about-kdqs-info {
  background-color: rgb(20,22,24);
  border-radius: 8px;
  padding: 1px 0;
  .ta-center {
    text-align: center;
		color: #fff;
  }
	.top10{
		margin-top: 10px;
		padding-bottom: 6px;
	}
}
