* {
  cursor: url("https://ylawenimg.netlify.app/cursor/akua.ico"), auto;
}

.about-Platform {
  table {
    width: 100%;
    tr {
      th {
        &:nth-child(1) {
          width: 30%;
        }
      }
    }
  }
}

.about-avatar {
  margin-top: 50px;
  img {
    max-width: 40% !important;
    border-radius: 50%;
  }
}
