.sidebar ul li a {
  color: #364149 !important;
}

#waifu {
  left: auto !important;
  right: 10px !important;
}

#waifu-tool {
  right: 15px !important;
}

* {
  cursor: url(../img/Normal.cur), auto;
}

section.cover.has-mask .mask {
  opacity: 0.5 !important;
}
p code {
  background-color: rgb(255, 255, 255) !important;
}

.markdown-section p.tip,
.markdown-section tr:nth-child(1n) {
  font-size: 16px !important;
}

.markdown-section h1 {
  margin: 3rem 0 2rem 0;
}

.markdown-section h2 {
  margin: 2rem 0 1rem;
}

img,
pre {
  border-radius: 5px;
}

/*添加代码块复制按钮样式*/
.docsify-copy-code-button {
  background: #00a1d6 !important;
  color: #ffffff !important;
  font-size: 13px !important;
}

::after {
  color: #9da2fd !important;
  font-size: 13px !important;
}

.markdown-section > p {
  font-size: 16px !important;
}

/*代码块头部图标 start*/
.markdown-section pre:before {
  content: "";
  display: block;
  background: url(../img/top.png);
  height: 30px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-color: #1c1c1c;
  background-position: 10px 10px;
}

/*代码块头部图标 end*/

.markdown-section pre > code {
  color: #c0c3c1 !important;
  font-family: "Inconsolata", consolas, "PingFang SC", "Microsoft YaHei",
    monospace !important;
  background-color: #212121 !important;
  font-size: 15px !important;
  white-space: pre !important;
  line-height: 1.5 !important;
  -moz-tab-size: 4 !important;
  -o-tab-size: 4 !important;
  tab-size: 4 !important;
  /*border-radius: .3em;*/
}

ol,
ul,
li {
  line-height: 27px !important;
  font-size: 16px !important;
}

@media (min-width: 600px) {
  .markdown-section pre > code {
    font-size: 15px !important;
    letter-spacing: 1.1px !important;
  }
}

@media (max-width: 600px) {
  .markdown-section pre > code {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 16px !important;
  }

  pre:after {
    content: "" !important;
  }
}

section.cover h1 {
  margin: 0;
}

pre {
  background-color: #212121 !important;
}

@media (min-width: 600px) {
  pre code {
    /*box-shadow: 2px 1px 20px 2px #aaa;*/
    /*border-radius: 10px !important;*/
    padding-left: 20px !important;
  }
}

@media (max-width: 600px) {
  pre {
    padding-left: 3px !important;
    padding-right: 3px !important;
    margin-left: -20px !important;
    margin-right: -20px !important;
    box-shadow: 0px 0px 20px 0px #f7f7f7 !important;
  }

  /*代码块复制按钮默认隐藏*/
  .docsify-copy-code-button {
    display: none;
  }

  .advertisement {
    display: none;
  }
}

.markdown-section pre {
  padding-left: 0 !important;
  padding-right: 0px !important;
}

.markdown-section {
  margin: 0 3.2% !important;
}

/*修改代码块代码颜色显示*/
.token.directive.keyword {
  color: #4faee2 !important;
}

.token.keyword {
  color: #c678dd !important;
}

.token.comment {
  color: #737c8b !important;
}

.token.tag {
  color: #a589ad !important;
}

.token.attr-name {
  color: #de916c !important;
}

.token.attr-value {
  color: #4faee2 !important;
}

.token.macro.property {
  color: #4faee2 !important;
}

.token.function {
  color: #e6b456 !important;
}

.token.string {
  color: #98b755 !important;
}

.token.punctuation {
  color: #c0c3c1 !important;
}

.token.number {
  color: #c0c3c1 !important;
}

a.section-link {
  font-size: 0.9rem !important;
}

.advertisement {
  position: fixed;
  right: 20px;
  top: 100px;
  width: 110px;
  box-shadow: -1px 0 2px 0px #c5ebda;
  padding: 10px;
  z-index: 99;
  background-color: #fff;
  text-align: center;
}

.advertisement p,
h4 {
  margin: 0;
  padding: 0;
}

.advertisement .Tencent_code h4 {
  font-size: 15px;
  color: #25a46a;
  margin-bottom: 10px;
}

/*滚动条样式 start*/
/* 滚动条宽度 */
::-webkit-scrollbar {
  width: 5px;
}

/* 滚动条颜色 */
::-webkit-scrollbar-thumb {
  background: #33a9dc;
  background-image: linear-gradient(#6ecd56, #33a9dc, #cb6196, #c16290);
  border-radius: 1em;
}

/*加重描述strong*/
.markdown-section strong {
  color: rgb(239, 112, 96);
}

.markdown-section > div > img,
.markdown-section pre {
  box-shadow: 2px 2px 20px 6px rgb(255, 255, 255) !important;
}

.markdown-section a:not(:hover) {
  text-decoration: none;
}

li::before {
  content: "" !important;
}

/* .sidebar ul,
.sidebar ul li {
  margin-left: 14px;
}

.sidebar-nav ul:not(.app-sub-sidebar)>li:not(.file)::before {
  top: 10px !important;
  left: -15px !important;
  height: 7px !important;
  width: 7px !important;
} */

aside.sidebar ul li.active > a:before {
  content: "" !important;
  position: absolute !important;
  margin: 0 !important;
  width: 10px !important;
  height: 10px !important;
  top: 8px !important;
  left: -22px !important;
  border-radius: 50% !important;
  background-color: #fed24a !important;
  box-shadow: 0 0 0 3px rgba(254, 210, 74, 0.4) !important;
}

aside.sidebar ul li.active > a {
  font-size: 16px !important;
  color: #007be8 !important;
  /* border-right: 10px !important; */
}

.sidebar ul li a {
  font-size: 15px !important;
}

.anchor span strong {
  color: #333;
  text-shadow: 2px 2px 2px rgba(255, 255, 255);
}
.app-nav a.active {
  color: #007be8 !important;
}
.sidebar li {
  margin: 5px 0 !important;
}
/* live 2d */
.fa-info-circle {
  display: none !important;
}
#waifu-tool {
  top: 100px !important;
}
